@import "null";
//__________________________Fonts__________________________
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
//__________________________Colors__________________________
$background-color: #f5f5f5;
$second-background-color: #d7bfdf;
$main-text-color: #000000;
$second-text-color: #620E66;
$elementary-text-color: #fff;
$hover-style: #cc5ecc;
//__________________________Mixins__________________________
@mixin support-hover(){
  @media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0){
    @content;
  }
}
@mixin _1680 {
  @media (max-width: 1680px) {
    @content;
  }
}
@mixin _1200 {
  @media (max-width: 1200px){
    @content;
  }
}
@mixin _992 {
  @media (max-width: 992px){
    @content;
  }
}
@mixin _768 {
  @media (max-width: 768px){
    @content;
  }
}
@mixin _576 {
  @media (max-width: 576px){
    @content;
  }
}
@mixin _480 {
  @media (max-width: 480px){
    @content;
  }
}
@mixin _320{
  @media (max-width: 320px){
    @content;
  }
}

//__________________________Patterns__________________________
%background-gradient{
  background: radial-gradient(50% 50% at 50% 50%, #95108D 0%, #730668 100%);
}
%header-text-style{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  @include _992{
    font-size: 16px;
    line-height: 20px;
  }
}
%p-text-style{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  @include _576(){
    font-size: 14px;
    line-height: 20px;
  }
}
%h1-text-style{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: $elementary-text-color;
  @include _992{
    font-size: 38px;
    line-height: 50px;
  }
  @include _576{
    font-size: 35px;
    line-height: 50px;
  }
}
%h2-text-style{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $second-text-color;
  margin-bottom: 50.25px;
  @include _576(){
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }
}
%section-mb{
  margin-bottom: 180px;
  @include _992{
    margin-bottom: 50px;
  }
  @include _480{
    margin-bottom: 30px;
  }
}
%link-style{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #228bc9;
}
//__________________________BODY, WRAPPER, CONTAINER, CONTENT__________________________
body{  
  background-color: $background-color;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: $main-text-color;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.content{
  @include _768(){
    padding-top: 129px;
  }
  @include _576(){
    padding-top: 70px;
  }
}
//__________________________HEADER__________________________
.header{
  @include _768{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .header__row{
    .header__top{
      @extend %background-gradient;
      @extend %header-text-style;
      color: $elementary-text-color;
      @include _576(){
        display: none;
      }
      .header-top__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 15px;
        .header__contacts{
          .header__phone{
            margin-right: 50px;
            &:before{
              content: url("../../images/mobile_vector.svg");
              margin-right: 8.25px;
            }
            a{
              transition: .3s;
              color: $elementary-text-color;
              @extend %link-style;
              @include support-hover(){
                a{
                  &:hover{
                    color: $hover-style;
                  }
                }
              }
            }
          }
          .header__email{
            &:before{
              content: "";
              display: inline-block;
              width: 30px;
              height: 15px;
              background-image: url('../../images/email_vector.svg');
              background-size: contain;
              background-repeat: no-repeat;
            }
            a{
              transition: .3s;
              color: $elementary-text-color;
              @extend %link-style;
              @include support-hover(){
                a{
                  &:hover{
                    color: $hover-style;
                  }
                }
              }
            }
          }
        }
        .header__social{
          display: flex;
          li{
            margin-right: 20px;
            margin-bottom: 0;
            &:last-child{
              margin-right: 0;
            }
          }
        }
        .tracking__button{
          background-color: transparent;
          width: 300px;
          height: 25px;
          border-radius: 5px;
          border: 2px solid #fff;
          @extend %p-text-style;
          color: $elementary-text-color;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          transition: .3s;
          &:hover{
            color: $hover-style;
          }
        }
      }
    }
    .header__bottom{
      @extend %header-text-style;
      color: $second-text-color;
      @include _768(){
        background-color: $background-color;
        -webkit-box-shadow: 0px -5px 5px -5px rgba(98, 14, 102, 0.6) inset;
        -moz-box-shadow: 0px -5px 5px -5px rgba(98, 14, 102, 0.6) inset;
        box-shadow: 0px -5px 5px -5px rgba(98, 14, 102, 0.6) inset;
      }
      .header-bottom__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;
        @include _768(){
          padding: 10px 15px;
        }
        .header__logo{
          img{
            width: 229.93px;
            height: 46.55px;
          }
        }
        .header__menu{
          display: block;
          @include _768(){
            display: none;
          }
          .header__nav{
            ul{
              display: flex;
              li{
                margin-right: 53px;
                &:last-child{
                  margin-right: 0px;
                }
                a{
                  color: $second-text-color;
                  &:hover{
                    border-bottom: 3px solid $second-text-color;
                    transition: .1s;
                  }
                }
              }
            }
          }
        }
        .header__menu-burger{
          display: none;
          @include _768(){
            display: block;
          }
          button{
            background: transparent;
          }
        }
        .menu__burger{
          position: absolute;
          z-index: 90;
          background-color: $background-color;
          transition: all .3s ease-in-out;
          width: 100%;
          height: auto;
          top: 0;
          right: -100%;
          @media(min-width: 768px){
            display: none;
          }
          @include _768{
            display: block;
          }
          .burger__row{
            display: flex;
            flex-direction: column;
            .burger__top{
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px 15px;
              -webkit-box-shadow: 0px -5px 5px -5px rgba(98, 14, 102, 0.6) inset;
              -moz-box-shadow: 0px -5px 5px -5px rgba(98, 14, 102, 0.6) inset;
              box-shadow: 0px -5px 5px -5px rgba(98, 14, 102, 0.6) inset;
              .burger__btn{
                width: 40px;
                height: 40px;
                background-color: transparent;
                overflow: hidden;
                transition: .3s;
                svg{
                  width: 100%;
                  height: 100%;
                }
                @media(min-width: 1200px){
                  
                }
                @include _1200{
                  height: 100%;
                  
                }
              }
            }
            .burger__list{
              width: 100%;
              background-image: url('../../images/bg-main.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              .burger__item{
                padding: 40px 0;
                -webkit-box-shadow: 0px -5px 5px -5px rgba(255, 255, 255, 0.6) inset;
                -moz-box-shadow: 0px -5px 5px -5px rgba(255, 255, 255, 0.6) inset;
                box-shadow: 0px -5px 5px -5px rgba(255, 255, 255, 0.6) inset;
                text-align: center;
                @media only screen
                and (min-device-width: 320px)
                and (orientation: landscape) {
                  padding: 20px 0;
                }
                a{
                  display: block;
                  color: $elementary-text-color;
                  font-size: 20px;
                  transition: .3s;
                }
              }
            }
          }
        }
        .menu__burger-opened{
          right: 0;
        }
      }
    }
  }
}
//__________________________MAIN__________________________
.main{
  background-image: url('../../images/bg-main_1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @extend %section-mb;
  @include _768{
    background-image: url('../../images/bg-main.png');
  }
  @include _576(){
    background-image: url('../../images/картинка\ для\ планшета\ пнг.png');
  }
  .main__container{
    .main__row{
      display: flex;
      position: relative;
      padding: 120px 0 50px;
      @include _768(){
        padding: 30px 0 30px;
      }
      @include _576(){
        padding: 60px 0 60px;
      }
      .main__body{
        display: flex;
        flex-direction: column;
        flex: 0 1 500px;
        @include _768{
          flex: 1 1 auto;
          justify-content: space-between
        }
        h1{
          @extend %h1-text-style;
          margin-bottom: 24px;
          @include _768(){
            margin-bottom: 0;
            justify-self: center;
            margin: auto;
          }
          @include _576(){
            margin-bottom: 20px;
          }
        }
        .tracking__button{
          background-color: transparent;
          max-width: 395px;
          height: 66px;
          border-radius: 5px;
          border: 5px solid #fff;
          @extend %header-text-style;
          color: $elementary-text-color;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          transition: .3s;
          @include _768(){
            max-width: 300px;
          }
          svg{
            @include _768(){
              width: 20px;
            }
          }
        }
        @include support-hover(){
          .tracking__button{
            &:hover{
              font-size: 20px;
              svg{
                transform: scale(1.1);
              }
            }
          }
        }
      }
      .main__globus{
        position: absolute;
        top: 5%;
        right: 15%;
        @include _1200{
          right: 7%;
        }
        @include _992{
          right: 3%;
        }
        svg{
          @include _992{
            width: 300px;
            height: 300px;
          }
          @include _768{
            display: none;
          }
          #marker-left{
            transform: translateY(-20px);
            animation-name: anim_marker-left;
            animation-duration: 3s;
            animation-delay: 3s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in;
          }
          @keyframes anim_marker-left {
            0%{
              opacity: 1;
            }
            10%{
              transform: translateY(0);
            }
            20%{
              transform: translateY(-20px);
            }
            50%{
              transform: translateY(-20px);
            }
            80%{
              transform: translateY(-20px);
            }
            90%{
              transform: translateY(0);
            }
            100% {
              transform: translateY(-20px);
              opacity: 1;
            }
          }
          #marker-right{
            transform: translateY(-20px);
            animation-name: anim_marker-right;
            animation-duration: 3s;
            animation-delay: 2s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in;
          }
          @keyframes anim_marker-right {
            0%{
              opacity: 1;
            }
            10%{
              transform: translateY(0);
            }
            20%{
              transform: translateY(-20px);
            }
            50%{
              transform: translateY(-20px);
            }
            80%{
              transform: translateY(-20px);
            }
            90%{
              transform: translateY(0);
            }
            100% {
              transform: translateY(-20px);
              opacity: 1;
            }
          }
        }
      }
      .main__planet{
        display: none;
        @include _768(){
          display: block;
        }
        @include _576(){
          display: none;
        }
      }
    }
  }
}
//__________________________ADVANTAGES__________________________
.advantages{
  @extend %section-mb;
  @include _768(){
    margin-bottom: 0;
  }
  @include _576(){
    padding-top: 70px;
  }
  .advantages__row{
    h2{
      @extend %h2-text-style;
      text-align: center;
      margin-bottom: 50px;
      @include _576(){
        margin-bottom: 20px;
      }
    }
    .advantages__intro{
      text-align: center;
      margin-bottom: 50px;
    }
    .advantages__list{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 17px;
      @include _992{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 20px;
      }
      @include _576(){
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
      }
      .advantages__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $elementary-text-color;
        padding: 40px 8px;
        border-radius: 5px;
        max-height: 350px;
        @include _576(){
          padding: 10px 8px;
        }
        .advantages__logo{
          margin-bottom: 15px;
        }
        .advantages__header{
          text-align: center;
          @extend %header-text-style;
          margin-bottom: 30px;
          @include _576(){
            margin-bottom: 20px;
          }
        }
        .advantages__text{
          text-align: center;
          @extend %p-text-style;
        }
      }
      @include support-hover(){
        .advantages__item{
          &:hover{
            background: elementary-text-color;
            box-shadow: 4px 4px 36px rgba(152, 80, 155, 0.2);
          }
        }
      }
    }
  }
}
//__________________________ABOUT__________________________
.about{
  @extend %section-mb;
  @include _768(){
    padding-top: 140px;
    margin-bottom: 0;
  }
  @include _576(){
    padding-top: 70px;
  }
  .about__row{
    .about__preface{
      display: flex;
      align-items: center;
      @include _576(){
        margin-bottom: 20px;
      }
      .preface__logo{
        margin-right: 68px;
        @include _768{
          margin-right: 20px;
        }
        @include _576(){
          display: none;
        }
        svg{
          @include _768{
            width: 350px;
            height: 350px;
          }
          #big-smoke{
            animation-name: anim_big-smoke;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
          }
          @keyframes anim_big-smoke {
            0%{
              transform: translate(10px, 25px) ;
              opacity: 0;
            }
            
            50%{
              opacity: 1;
            }
            
            100% {
              transform: translate(10px, -55px) ;
              opacity: 0;
            }
          }
          #little-smoke{
            transform: translateX(-30px);
            opacity: 0;
            animation-name: anim_little-smoke;
            animation-duration: 5s;
            animation-delay: 2.5s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
          }
          @keyframes anim_little-smoke {
            0%{
              transform: translate(5px, 50px) ;
              opacity: 0;
            }
            
            50%{
              opacity: 1;
            }
            
            100% {
              transform: translate(5px, -20px) ;
              opacity: 0;
            }
          }
        }
      }
      .preface__text{
        h2{
          @extend %h2-text-style;
          @include _576(){
            text-align: center;
          }
        }
        p{
          @extend %p-text-style;
        }
      }
    }
    .about__mission{
      display: flex;
      align-items: center;
      .mission__logo{
        margin-left: 68px;
        @include _768{
          margin-left: 20px;
        }
        @include _576(){
          display: none;
        }
        svg{
          @include _768{
            width: 350px;
            height: 350px;
          }
          #box{
            
            animation-name: anim_box;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
          }
          @keyframes anim_box {
            0%{
              transform: translateY(0);
            }
            
            50%{
              transform: translateY(-118px);
            }
            
            100% {
              transform: translateY(0);
            opacity: 1;
            }
          }
        }
      }
      .mission__text{
        h2{
          @extend %h2-text-style;
          @include _576(){
            text-align: center;
          }
        }
        p{
          @extend %p-text-style;
        }
      }
    }
  }
}
//__________________________SERVICES__________________________
.services{
  @extend %section-mb;
  @include _768(){
    padding-top: 140px;
    margin-bottom: 100px;
  }
  @include _576(){
    padding-top: 70px;
    margin-bottom: 0;
  }
  .services__row{
    h2{
      @extend %h2-text-style;
      text-align: center;
    }
    .services__intro{
      text-align: center;
      margin-bottom: 40px;
    }
    .acor-container{
      margin: 20px 0;
      .acor-body{
        width: calc(100% - 40px);
        margin: 0 auto;
        height: 0;
        color: $main-text-color;
        background-color: $elementary-text-color;
        box-shadow: 4px 0px 11px rgba(159, 159, 159, 0.25);
        line-height: 18px;
        padding: 0 30px;
        box-sizing: border-box;
        transition: color 0.5s, padding 0.5s;
        overflow: hidden;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        @include _576(){
          padding: 0 10px;
        }
        p{
          margin: 0 0 10px;
          text-indent: 20px;
        }
        li{
          margin-bottom: 5px;
          &::before{
            content: '-';
            margin-right: 5px;
          }
        }
      }
      label{
        cursor: pointer;
        background-color: transparent;
        // border-top: 3px solid #730668;
        border-bottom: 3px solid #730668;
        display: block;
        padding: 15px 50px 15px 70px;
        width: 100%;
        color: $second-text-color;
        font-weight: 700;
        box-sizing: border-box;
        z-index: 100;
        font-family: "Montserrat", sans-serif;   
        font-size: 18px;  
        transition: color .3s;
        @include _576(){
          font-size: 16px;
          padding: 10px 20px 10px 20px;
        }
        &::before{
          content: '\276F';
          float: right;
          margin-left: 10px;
        }
        svg{
          margin-right: 10px;
          display: none;
        }
      }
      @include support-hover(){
        label{
          &:hover{
            color: $hover-style;
          }
        }
      }
      input{
        display: none;
        &:checked{
          & + label{
            border-bottom: none;
            margin: 0 0 5px;
            background: radial-gradient(47.38% 14813.34% at 20.05% 50%, #93118B 0%, #740769 100%);
            color: #FFF;
            box-shadow: 0 8px 26px rgba(0,0,0,0.2), 0 28px 30px rgba(0,0,0,0.2);
            &::before{
              transition: transform .3s;
              transform: rotate(90deg);
            }
            & + .acor-body{
              height: auto;
              margin-top: -5px;
              color: #000;
              padding: 20px 30px 10px;
              @include _576(){
                padding: 10px;
              }
            }
            svg{
              display: inline;
              @include _576(){
                display: none ;
              }
            }
            span{
              vertical-align: text-bottom;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
//__________________________TRACKING__________________________
.tracking{
  background-image: url('../../images/bg-main_2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @extend %section-mb;
  @include _768(){
    margin-bottom: 0;
  }
  @include _576(){
    display: none;
  }
  .tracking__row{
    display: flex;
    position: relative;
    .tracking__logo{
      position: absolute;
      top: -15%;
      left: 3%;
      svg{
        #marker{
            
          animation-name: anim_marker;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
        }
        @keyframes anim_marker {
          0%{
            transform: translateY(0);
          }
          
          50%{
            transform: translateY(-30px);
          }
          
          100% {
            transform: translateY(0);
          }
        }
      }
    }
    .tracking__content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 35px 0 35px 300px;
      h2{
        @extend %h2-text-style;
        color: $elementary-text-color;
        margin-bottom: 20px;
      }
      button{
        background-color: transparent;
        width: 265px;
        height: 66px;
        border-radius: 5px;
        border: 5px solid #fff;
        @extend %header-text-style;
        color: $elementary-text-color;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: .3s;
        &:hover{
          font-size: 20px;
          svg{
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
//__________________________CONTACTS__________________________
.contacts{
  @extend %section-mb;
  @include _768(){
    padding-top: 140px;
  }
  @include _576(){
    padding-top: 70px;
  }
  .contacts__row{
    display: flex;
    position: relative;
    height: 600px;
    @include _992(){
      height: auto;
    }
    @include _576(){
      flex-direction: column;
    }
    .contacts__body{
      display: flex;
      max-width: 500px;
      flex: 0 0 500px;
      padding: 40px 60px;
      background: linear-gradient(70deg, #fff 85%, transparent);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 5%;
      transform: translateY(-48%);
      .contacts__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        h2{
          @extend %h2-text-style;
          margin-bottom: 25px;
          @include _576(){
            text-align: center;
          }
        }
        ul{
          li{
            margin-bottom: 15px;
          }
          .contacts__location{
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
              margin-right: 5px;
            }
            p{
              text-align: center;
              font-weight: 500;
            }
          }
          .contacts__phones-service{
            p{
              @extend %header-text-style;
              margin-bottom: 10px;
              text-align: center;
              color: $second-text-color;
              @include _576(){
                margin-bottom: 5px;
              }
            }
            ul{
              li{
                text-align: center;
                margin-bottom: 10px;
                &:first-of-type{
                  &:before{
                    content: url("../../images/telephone.svg");
                    margin-right: 8.25px;
                  }
                }
                &:before{
                  content: url("../../images/mobile_vector-2.svg");
                  margin-right: 8.25px;
                }
                a{
                  transition: .3s;
                  @extend %link-style;
                  color: $main-text-color;
                }
                @include support-hover(){
                  a{
                    &:hover{
                      color: $hover-style;
                    }
                  }
                }
              }
            }
          }
          .contacts__phones-sales{
            p{
              @extend %header-text-style;
              margin-bottom: 10px;
              text-align: center;
              color: $second-text-color;
              @include _576(){
                margin-bottom: 5px;
              }
            }
            ul{
              li{
                text-align: center;
                margin-bottom: 10px;
                &:first-of-type{
                  &:before{
                    content: url("../../images/telephone.svg");
                    margin-right: 8.25px;
                  }
                }
                &:before{
                  content: url("../../images/mobile_vector-2.svg");
                  margin-right: 8.25px;
                }
                a{
                  transition: .3s;
                  @extend %link-style;
                  color: $main-text-color;
                }
                @include support-hover(){
                  a{
                    &:hover{
                      color: $hover-style;
                    }
                  }
                }
              }
            }
          }
          .contacts__email{
            text-align: center;
            &:before{
              content: url("../../images/email_vector-2.svg");
              margin-right: 8.25px;
            }
            a{
              transition: .3s;
              @extend %link-style;
              color: $main-text-color; 
            }
            @include support-hover(){
              a{
                &:hover{
                  color: $hover-style;
                }
              }
            }
          }
        }
      }
      @include _992(){
        position: initial;
        transform: translateY(0);
        flex: 1 1 50%;
        padding: 40px 40px;
      }
      @include _576(){
        position: initial;
        transform: translateY(0);
        flex: 1 1 50%;
        padding: 20px 10px;
      }
    }
    .contacts__map{
      position: absolute;
      z-index: 10;
      top: 0;
      right: 5%;
      // transform: translateY(-50%);
      iframe{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        @include _992(){
          width: 350px;
          height: 350px;
        }
        @include _576(){
          width: 100%;
          height: 300px;
        }
      }
      @include _992(){
        position: initial;
        margin: auto;
      }
      @include _576(){
        margin: 0;
      }
    }
    .contacts__logo{
      position: absolute;
      z-index: 30;
      bottom: 0;
      right: 0;
      transform: translateY(30%);
      @include _992(){
        display: none;
      }
    }
  }
}
//__________________________FOOTER__________________________
.footer{
  @extend %background-gradient;
  padding: 50px 0;
  @include _576(){
    padding: 40px 0;
  }
  .footer__row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include _576(){
      flex-direction: column;
      align-items: center;
    }
    .footer__logo{
      @include _576(){
        margin-bottom: 20px;
        width: 70%;
      }
      svg{
        @include _576(){
          width: 100%;
        }
      }
    }
    .footer__nav{
      @include _768(){
        display: none;
      }
      li{
        @extend %header-text-style;
        color: $elementary-text-color;
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          color: $elementary-text-color;
          transition: .3s;
          &:hover{
            &:hover{
              border-bottom: 3px solid #fff;
              transition: .1s;
            }
          }
        }
      }
    }
    .footer__contacts{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include _768(){
        align-items: center;
        margin: 0 auto;
      }
      li{
        @extend %header-text-style;
        color: $elementary-text-color;
        margin-bottom: 30px;
        @include _576(){
          margin-bottom: 20px;
        }
        &:last-child{
          margin-bottom: 0;
        }
        .footer__phone{
          &:before{
            content: url("../../images/mobile_vector.svg");
            margin-right: 8.25px;
          }
          a{
            transition: .3s;
            color: $elementary-text-color;
            @extend %link-style;
            @include support-hover(){
              a{
                &:hover{
                  color: $hover-style;
                }
              }
            }
          }
        }
        .footer__email{
          &:before{
            content: "";
            display: inline-block;
            width: 30px;
            height: 15px;
            background-image: url('../../images/email_vector.svg');
            background-size: contain;
            background-repeat: no-repeat;
          }
          a{
            transition: .3s;
            color: $elementary-text-color;
            @extend %link-style;
            @include support-hover(){
              a{
                &:hover{
                  color: $hover-style;
                }
              }
            }
          }
        }
        .footer__social{
          display: flex;
          li{
            margin-right: 20px;
            margin-bottom: 0;
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
//__________________________SCROLL UP__________________________
.scrollup{
  width:50px;
  height:50px;
  opacity: 0.3;
  position:fixed;
  bottom:10px;
  right:10px;
  display:none;
  text-indent:-9999px;
  background-image: url('../../images/arrow-up.svg');
  background-repeat: no-repeat;
  transition: .3s;
  @include _1200{
    display: none !important;
  }
  &:hover{
    opacity: 0.7;
  }
}
  .anim__arrowUp{
    animation-name: anim__arrowUp;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}
  @keyframes anim__arrowUp {
    0%{
      bottom: 0;
    }
    50%{
      bottom: 75px;
      opacity: 0;
    }
    100%{
      bottom: 150px;
      
    }
}